body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

h2.content {
    border-bottom: 1px solid #000000;
    padding-bottom: 0px;
  }


/* Main Content Margins */
div.container{
    /* display: flex; */
    margin: 0 auto;
    width: 800px;
    min-width: 700px;
    width: 60%;
}

/* Section margins */

div.section{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}

/* Section Block Colour Schemes */
div#topbar{
    padding: 5px;
    background: #393A40;
    color: #FEFFFE;
}
div#navbar{
    padding: 0;
    background: #ECE6DF;
    color: #393A40;
}
div#resume{
    background: #FEFFFE;
    padding: 0;
    /* border: 4px rgb(140, 10, 163) dashed; */
    color: #000000;
}

/* Projects Section */

div.project-card {
    min-height: auto;
    max-height: 100%;
    display: flex;
    position: relative;
    padding-bottom: 1.5rem;
  }
  
div.project-card-img-container{
    max-height: 100%;
    max-width: 45%;
    width: 40rem;
    background-size: cover;
    border-radius: 1em;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 5px 15px 0px#bababa;
}

/* Specific Project Images defined here by div ID */
#p1{
    background-position: top center;
    background-image: url("../media/images/p1_thumb.png");
}
#p2{
    background-position: left top;
    background-image: url("../media/images/p2_thumb.png");
}
#p3{
    background-position: left top;
    background-image: url("../media/images/p3_thumb.png");
}

div.project-card-container{
    margin-left: 1rem;
    height: 100%;
    width: 100%;
}
  
div.project-card-interior {
    padding: 1.5em;
    min-height: 150px;
}

.project-card h3 {
    margin: 0;
    }

div.project-card-description {
    padding: 0.5rem 0rem;
    /* font-style: italic; */
    }

/* Navbar */

b,strong {
    font-weight: bolder
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    margin: 0rem 0rem 0rem 1rem;
    padding-right: 10px;
}

ul.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #ECE6DF;
}

li.navitem {
    float: left;
}

li.navitem-right {
    float: right
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
}

li a:hover {
    background-color: #d6c9ba;
}
/* Design inspirations */
/* Colours inspired by */
/* https://resumaker.ai/s3/en-US/cv-examples/Html-Developer-CV-Example.png */
/* Layouts inspired by */
/* https://brittanychiang.com/#projects */