/* Generic Div Padding / Positioning */
div{
    padding: 0px;
    margin: 0px;
}

/*
    margin-top
    margin-right
    margin-bottom
    margin-left
 */

/* Section Block Colour Scheme */
div.header{
    padding: 5px;
    background: #393A40;
    color: #FEFFFE;
}
div.sidebar{
    background: #ECE6DF;
    color: #393A40;
}
div.resume{
    background: #FEFFFE;
    color: #000000;
}

h1, h2, h3, h4, p, li {
    font-family: sans-serif
}

/* Design inspirations */
/* Colours inspired by */
/* https://resumaker.ai/s3/en-US/cv-examples/Html-Developer-CV-Example.png */
/* Layouts inspired by */
/* https://brittanychiang.com/#projects */